@import '../variables.scss';
@import '../utils.scss';

.chat {
    min-height: 88vh;
    background-color: $pri-color;
    @include flex-col;
    @include flex-center;

    // h1 {
    //     // flex-grow: 1
    // }

    .chat__area {
        background-color: $sec-color;
        flex-grow: 1;
        height: 60vh;
        width: 90%;
        max-width: 600px;
        border-radius: 2rem;
        margin: 2rem 0;
        overflow-y: scroll;
        padding: 2rem;

        /* Internet Explorer 10+ */
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width: none;
    }

    .chat_area::-webkit-scrollbar {
        display: none;
    }

    // .create_chat {
    //     // flex-grow: 1;
    // }
}