@import '../variables';
@import '../utils';

.makePost {
    border-top: 2px $sec-text-color-1 solid;
    padding-top: 1rem;
    margin: 1rem;

    .btn {
        width: fit-content;
        cursor: default;
    }

    .editor_wrapper {
        margin: 1rem auto;
    }

    .sendPost.btn {
        @include t-right;
        margin: 1rem 0;
    }

}
div.titleInput {
    @include flex-col;
    label {
        color: white;
        font-weight: bold;
    }
    input {
        margin: 1rem;
        background: $sec-color;
        padding: 0.5rem;
        font-weight: bold;
        color: white;
        width: 90%;
    }

}