.btn {
    padding: 0.5rem 1rem;
    width: max-content;

    &.pri_btn {
        background-color: $pri-color;
        border-radius: 0.5rem;
        color: white;
        &:hover {
            background: $sec-text-color-2;
            color: white;
        }
    }
    &.sec_btn {
        border-radius: 0.5rem;
        border: 2px solid $sec-text-color-1;
        background: inherit;
        color: white;

        &:hover {
            background: $sec-text-color-1;
            // color: white;
        }
    }
}

.input {
    padding: 1rem 2rem;
    width: 100%;
    margin: 0 0 2rem;
    border-radius: 10px;
    outline: none;
    background: rgba($sec-color, 0.5);
}

@mixin list-style {
    list-style: none;
}
@mixin flex-row {
    display: flex;
}
@mixin flex-col {
    display: flex;
    flex-direction: column;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin transition-ease {
    transition: .5s cubic-bezier(0.2, 0.22, 0.52, 1.86);
}
@mixin phone-only {
    @media (max-width: 600px) {
        @content;
    }
}
@mixin big-screens {
    @media (min-width: 700px) {
        @content;
    }
}
@mixin t-right {
    float: right
}