@import 'variables';
@import 'utils';

@include phone-only {

    .menu {
        position: fixed;
        right: 1rem;
        z-index: 15;
        height: 3rem;
        width: 3rem;
        top: 1.5rem;
        right: 1rem;
        padding: .5rem;

        div {
            position: relative;

            &::before {
                content: '';
                border: 2px solid $sec-text-color-1;
                width: 28px;
                position: absolute;
                // top: -.5rem;
                @include transition-ease;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1rem;
                border: 2px solid $sec-text-color-1;
                width: 10px;
                margin: 0 auto;
                @include transition-ease;
            }
        }

        &.open {
            
            div {

                &::before {
                    transform: rotate(45deg) translate(0px, 5px);
                }

                &::after {
                    width: 28px;
                    // transform-origin: left;
                    transform: rotate(-45deg) translate(3px, -10px);
                }
            }
        }
    }
}